@{
    ViewData["Title"] = "Home Page";
}

<div class="welkome-div">
    <div class="wd-left">
        <p>
            <h3>Welcome to DungeonBattler!</h3> <br />
            This is my project using ASP.NET MVC     
        </p>
    </div>
    <div class="wd-right">
        <p>To start the game please Login or Register if you already did, then go to battlefield.
        </p>
    </div>

</div>
